[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/perl-moose"]
	path = bundle/perl-moose
	url = git://github.com/vim-scripts/Perl-MooseX.Declare-Syntax.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/html5-syntax"]
	path = bundle/html5-syntax
	url = git://github.com/othree/html5-syntax.vim.git
[submodule "bundle/vitality"]
	path = bundle/vitality
	url = git://github.com/sjl/vitality.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/plantuml"]
	path = bundle/plantuml
	url = git://github.com/aklt/plantuml-syntax.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-numbertoggle"]
	path = bundle/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/mason2"]
	path = bundle/mason2
	url = git://github.com/bokutin/mason2.vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = git://github.com/ervandew/supertab.git
[submodule "bundle/bad-whitespace"]
	path = bundle/bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-tmuxline"]
	path = bundle/vim-tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule "bundle/vim-promptline"]
	path = bundle/vim-promptline
	url = https://github.com/edkolev/promptline.vim.git
[submodule "bundle/fugituve"]
	path = bundle/fugituve
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/signify"]
	path = bundle/signify
	url = https://github.com/mhinz/vim-signify.git
