[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = git://github.com/petdance/vim-perl.git
[submodule "bundle/vim-mru"]
	path = bundle/vim-mru
	url = git://github.com/ornicar/vim-mru.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = git://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/perl-moose"]
	path = bundle/perl-moose
	url = git://github.com/vim-scripts/Perl-MooseX.Declare-Syntax.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/liquidcarbon"]
	path = bundle/liquidcarbon
	url = git://github.com/vim-scripts/Liquid-Carbon.git
[submodule "bundle/html5-syntax"]
	path = bundle/html5-syntax
	url = git://github.com/othree/html5-syntax.vim.git
[submodule "bundle/up"]
	path = bundle/up
	url = git://github.com/kossnocorp/up.vim.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
